.app-container {
    margin: 20px auto;
    max-width: 1000px;
    padding: 0 20px;
  }
  
  .title {
    color: #f68c1f;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .job-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .job-card {
    background-color: #f2f2f1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
    width: calc(33.33% - 10px);
  }
  
  .job-card h2 {
    color: #1f3368;
    font-size: 24px;
    margin-top: 0;
  }
  
  .job-card h3 {
    color: #f68c1f;
    font-size: 18px;
    margin-top: 10px;
  }
  
  .job-card p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
  }
  
  .job-card ul {
  list-style: none;
margin: 0;
padding: 0;
}

.job-card li {
font-size: 14px;
margin-bottom: 5px;
}

.job-card button {
background-color: #f68c1f;
border: none;
border-radius: 5px;
color: #fff;
cursor: pointer;
font-size: 16px;
padding: 10px 20px;
margin-top: 10px;
transition: opacity 0.2s ease-in-out;
}

.job-card button:hover {
background-color: #1f3368;
}


  