.application-form h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .application-form p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .application-form label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .application-form input,
  textarea,
  select {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
  }
  
  .application-form input:focus,
  textarea:focus,
  select:focus {
    outline: none;
    box-shadow: 0 0 5px #F68C1F;
  }
  
  .application-form button[type="submit"] {
    background-color: #F68C1F;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .application-form button[type="submit"]:hover {
    background-color: #1F3368;
  }
  
  /* Form Styles */
  
  .application-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2em;
  }
  
  .form-field {
    margin-bottom: 30px;
  }
  
  .form-input {
    height: 50px;
  }
  
  #answer {
    height: 150px;
  }
  
  @media screen and (min-width: 768px) {
    .application-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    .form-field {
      width: calc(50% - 15px);
      margin-bottom: 40px;
    }
    
    #resume {
      width: 100%;
    }
  }