.facing-interview-main{
    display: flex;
}
.facing-interview-container img{
    height: 70vh;
    padding: 1em;
}
.bacon-blog-post {
    position: relative;
    width: 100%;
    background: #fff;
    font-weight: 400;
    line-height: 1.45;
  }
  
  .bacon-blog-post-inner { padding: 42px; }
  
  .bacon-blog-post .wp-post-image {
    width: 100%;
    height: auto;
  }
  
  .bacon-blog-post h1, .bacon-blog-post h2, .bacon-blog-post h3, .bacon-blog-post h4 {
    margin: 1.414em 0 0.5em;
    font-weight: 700;
    line-height: 1.2;
    font-family: Open Sans, sans-serif;
  }
  
  .bacon-blog-post h1 a, .bacon-blog-post h2 a, .bacon-blog-post h3 a, .bacon-blog-post h4 a {
    display: inline-block;
    color: #000;
    text-decoration: none;
  }
  
  .bacon-blog-post h1 {
    margin-top: 0;
    font-size: 3.157em;
  }
  
  .bacon-blog-post h2 { margin-top: 0; font-size: 2.369em;}
  .bacon-blog-post h3 {font-size: 1.777em;}
  .bacon-blog-post h4 {font-size: 1.333em;}
  .bacon-blog-post small, .bacon-blog-post .font_small {font-size: 0.75em;}
  
  .bacon-blog-post p, .bacon-blog-post p a {
    font-family: Lora, Times New Roman, serif;
    font-size: 20px;
    line-height: 28px;
  }
  
  .bacon-blog-post p { margin-bottom: 1.3em; }
  .bacon-blog-post p:last-child { margin-bottom: 0; }
  .bacon-blog-post p a { color: #B21A13; }
  
  .bacon-blog-post blockquote {
    margin: 1.3em;
    padding-left: 1.3em;
    border-left: rgb(224,40,43) solid 0.25em;
    font-style: italic;
  }
  
  .bacon-shadow:after {
    position: absolute;
    content: "";
    left: 20px;
    right: 20px;
    bottom: 0px;
    z-index: -1;
    /* box-shadow: 0 0 30px 4px rgba(0,0,0,0.60); */
  }
  .more-blogs-section{
    padding: 1em;
  }
  .bacon-blog-post-inner h1{
    font-size: 2em;
  }
  .heading{
    font-size: 2em;
    padding: 1em;
    padding-left: 0.5em;
    font-weight: 700;
  }
  .post-container h1{
    font-family: 'Raleway','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 2em;
  }
  .post-container{
    /* width: 70%; */
    height: 100%;
    margin: 0px auto 0px auto;
    background-color: white;
  }
  .post-container .date{
    font-family: Roboto, sans-serif;
    color: #008080;
  }
  .post-container .post-content{
    width: 90%;
    font-family: Open Sans, sans-serif;
    font-weight: normal;
  }
  .post-container .post{
    margin-left: 50px;
    padding-top: 20px;
    padding-left: 50px;
    padding: 1em    ;
  }