

.login-card-img {
    width: 100%;
    border-radius: 12px;
    height: 200px;
    object-fit: cover;
  }
  
  #container {
    max-width: 300px;
  
    /* Center the container in middle on horizontal axis */
    /* margin: 0 auto; */
  
    /* Add empty space above the container (20% of the view height) */
    /* margin-top: 40vh; */
  }
  
  .login-card {
  
    /* Change background color */
    background-color: white;
  
    /* Add border */
    border: 1px solid #bacdd8;
  
    /* Add space between the border and the content */
    padding: 8px;
  
    border-radius: 12px;
  
    margin: 10vh 10vh 10vh 10vh ;
  }
  
  /* Style div elements that have class equal to tag */
  .tag {
      border: 1px solid #BACDD8;
    padding: 4px 8px;
    margin-top: 16vh;
  
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #788697;
  }
  
  /* Style div elements that have class equal to name */
  .name {
    font-size: 24px;
    font-weight: 600;
  
    margin-top: 16px;
  }
  
  /* Style p element */
  p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
  }
  
  /* Style button element */
  .Read-btn {
    
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
  
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
  
    /* Button is inline-block element by default, it need to have block display for margin: 0 auto; to work */
    margin: 2.5vh auto;
    display: block;
  
    /* Button is a clickable element, therefore it should have a pointer cursor */
    cursor: pointer;
  }
  
  .card__details {
    /* Add space around the details */
    padding: 16px 8px 8px 8px;
  }
  
  .Read-btn:focus,
  .Read-btn:hover {
    background-color: #0077ff;
    color: #e0efff;
  }
  