.dynamic-project-table{
    overflow-x: hidden;
}
.table-body {
    border-radius: 1.2em;
}
.table-body input{
    background-color: rgb(244, 244, 244);
}
.table-body button{
    color: rgb(253, 135, 0);
}